

.jumbotron{

	height: 500px;
    text-align: center;
    background-image: url("snow.jpg");
    background-size: cover;

}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: black 0.05em  0.05em 0.05em;
    line-height: 400px;
}


