
.navbar{
    background-color: #EEEEEE;
    margin-bottom: 0px;
    border: 0;
    box-shadow: none;
}

.navbar a, .navbar-collapse li a{
    color: #444;
    font-family: "FF Scala";
}


.navbar-default{
    background-image: none;
}

.navbar-default .navbar-nav>li>a{
    width: 7em;
    color: #444;
    font-family: "FF Scala";
    font-size: 2.5vmin;
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a{
        font-size: 18pt;
    }
}

.jumbotron{
    height: 100vh;
}

.jumbotron h1{
    display: inline;
}

.jumbotron .container{
    text-align: center;
    height: 100px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 20%;

    margin: -70px 0 0 -170px;
    color: #444;
}

body{
    height: 100%;
    background-color: #EEEEEE;
}

.typed-cursor{
    font-size: 38pt;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* FOOTER */
i{
    color: #444;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.navbar-text{
    text-align: left;
}

.text-muted{
    font-family: "FF Scala";
}

.here{
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
    .jumbotron h1 {
        padding-left: 100px;

    }
    
}
