{%extends "templates/base.html" %}
{% block content %}



<div class="about">
	<h1>This is some stuff about <em>me</em>.</h1>

	<h2>Some basics</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat, purus lectus ultrices risus, a condimentum risus mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat malesuada velit. 
	</p>

	<h2>What you're looking at</h2>
	<p>This site was built for SI 206 <em>Agile Web Development</em> in the winter semester of 2016. This website serves as my personal site. </p>
	<h3>Things I used to build <em>this</em> thing:</h3>
	<ul>
		<li>Thing</li>
		<li>Thing</li>
		<li>Thing</li>
		<li>Thing</li>
		<li>Thing</li>
	</ul>
</div>



{% endblock %}