{%extends "templates/base.html" %}
{% block content %}

<script src="static/js/about.js"></script>

<div class="about">
	<br>
	<h1>Check out some of my projects.</h1>
	<aside>My focus is solving problems using machine learning and data science. For the sake of this website, these photos are just stock photos that don't represent any project. </aside>
</div>

<div class="image-grid">
	<img src="static/images/resized/rsz_avocado-toast-01.jpg" alt="Avocado Toast">
	<img src="static/images/resized/rsz_foodinstagram-01-al.jpg" alt="old computer">
	<img src="static/images/resized/rsz_fireballshots-01-al.jpg" alt="Fireball shots">
	<img src="static/images/resized/beatsalley-01.jpg" alt="Hanging in alley">
	<img src="static/images/resized/crackedscreen-05-al.jpg" alt="Cracked iPhone">
	<img src="static/images/resized/hard-drive.jpg" alt="Old hard drive">
	<img src="static/images/resized/isl-8670.jpg" alt="Avocado Toast">
	<img src="static/images/resized/toilettinder-02.jpg" alt="Using tinder">
	<img src="static/images/resized/ubersurge2.jpg" alt="Uber surge">

</div>


{% endblock %}